# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.sln.docstates

# Visual Studio
.vs/
*.vscode/

# Environment variables
.env

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]ogs/